/* Color System */
:root {
  /* Primary Colors */
  --color-green: #7da453;

  /* Secondary Colors */
  --color-deep-green: #455e14;
  --color-dark-green: #5c7b37;
  --color-light-green: #a8c66c;
  --color-pale-green: #c8d996;

  /* Greyscale */
  --color-black: #000000;
  --color-grey-1000: #1a1a1a;
  --color-grey-950: #262626;
  --color-grey-850: #3a3a3a;
  --color-grey-750: #545454;
  --color-grey-650: #6e6e6e;
  --color-grey-550: #8e8e8e;
  --color-grey-450: #b0b0bd;
  --color-grey-350: #dddddd;
  --color-grey-250: #e8e8e8;
  --color-grey-150: #f3f3f3;
  --color-grey-50: #fafafa;
  --color-white: #ffffff;
}
